<div class="row">
  <div class="mb-3 row">
    <h1 class="d-flex justify-content-center">
      Fibonacci Series
    </h1>

    <h2 class="d-flex justify-content-center">
      Sequence of
    </h2>
  </div>

  <div class="mb-3 row">
    <form class="form-group" [formGroup]="form" (submit)="findSeries()" novalidate>
      <div class="d-flex justify-content-center">
        <input class="formGroup" type="number" formControlName="seriesInput">
        <button type="submit">Find Series</button>
      </div>
      <div class="d-flex justify-content-center">
        <label class="form-label">
          {{result}}
        </label>
      </div>
    </form>
  </div>
</div>